.skill {
  width: 100%;
  height: 600px;
  padding: 40px 50px;
  background-color: $color-light;
  @include iPhone5-horizontal {
    height: 1400px;
  }
  @include Mobile {
    height: 1400px;
  }
  .skill__content {
    opacity: 0;
    margin-left: 800px;
    transition: all 1s;
    .title {
      @include title;
    }
    .icon {
      width: 120px;
      height: 120px;
    }
  }
  .skill__content-active {
    opacity: 1;
    margin-left: 0px;
  }
}